.side-navbar {
  position: relative;
  background-color: rgb(222, 222, 222);
  height: 95vh;
}

ul {
  list-style-type: none;
  padding-top: 0.3rem;
}

li {
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5em;
}

li:hover {
  background-color: rgb(235, 235, 235);
  cursor: context-menu;
}

/* .navs {
  position: relative;
} */

.target-div {
  position: absolute;
  left: 100%;
  top: 0%;
  /* transform: translate(0, 0); */
}

.parent-overlay-bar {
  /* position: absolute; */
  border-radius: 6px;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  /* top: 20%; */
  /* left: 26%; */
  background-color: #7a7a7a40;
  min-width: 20rem;
  min-height: 26rem;
  backdrop-filter: blur(3px);
}

/* .visible {
  visibility: visible;
  position: absolute;
  left: 21rem;
  top: 5rem;
} */

.hidden {
  display: none;
}

.code-block:hover {
  outline: 2px solid yellow;
}

.navs .header {
  cursor: pointer;
}

.math-color {
  background-color: navy;
  color: white;
}

.variable-color {
  background-color: crimson;
  color: white;
}

.loop-color {
  background-color: purple;
  color: white;
}

.logic-color {
  background-color: green;
  color: white;

}

.text-color {
  background-color: yellow;
}

.colors {
  color: white;
}
