.side-navbar {
  position: relative;
  min-height: 100%;
  background-color: #f5f5f5;
  border-radius: 5px 0 0 5px;
}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar-header > span {
  color: black;
  cursor: pointer;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  padding-top: 0.3rem;
}

li > p {
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5em;
  cursor: pointer;
}

li:not(.fg-color) > p:hover {
  background-color: rgb(235, 235, 235);
}

.target-div {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
}

.parent-overlay-bar {
  border-radius: 6px;
  padding: 1rem;
  background-color: #7a7a7a40;
  min-width: 19rem;
  min-height: 100%;
  backdrop-filter: blur(2px);
  position: relative;
  z-index: 100;
}

.blocks-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blocks-list > span {
  color: red;
}

.blocks-list [data-block-type="procedure"] .holder,
.blocks-list [data-block-type="loop"] .holder,
.blocks-list .block-footer > .data-store,
.blocks-list .holder,
.blocks-list .datastore {
  background-color: #dedede;
}

.blocks-list .block-footer > .data-store {
  min-width: 1.4rem;
}

.blocks-list .block-footer > .data-store {
  min-width: 1.4rem;
}

.blocks-list .return-footer > .holder.children {
  min-width: 16.2rem;
}

.create-var-section {
  margin-bottom: 1.2rem;
}

.hidden {
  display: none;
}

.navs .header {
  cursor: pointer;
}

.math-color {
  background-color: navy;
}

.variable-color {
  background-color: crimson;
}

.loop-color {
  background-color: purple;
}

.logic-color {
  background-color: green;
}

.text-color {
  background-color: yellow;
  color: black !important;
}
.procedure-color {
  background-color: rgb(204, 133, 0);
}

.fg-color {
  color: white;
}
