.side-nav-bar {
  background-color: rgb(222, 222, 222);
  height: 95vh;
}
ul {
  list-style-type: none;
  padding-top: 0.3rem;
}
li {
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5em;
}
li:hover {
  background-color: rgb(235, 235, 235);
  cursor: context-menu;
}
.target-box {
  position: absolute;
}
.parent-overlay-bar {
  position: absolute;
  border-radius: 6px;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  top: 20%;
  left: 26%;
  background-color: #7a7a7a40;
  min-width: 20rem;
  min-height: 26rem;
  backdrop-filter: blur(3px);
}
.visible {
  visibility: visible;
  position: absolute;
  left: 21rem;
  top: 5rem;
}
.hidden {
  visibility: hidden;
}

.code-block:hover {
  outline: 2px solid yellow;
}
